/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  color: black;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --Background: #faeee7;
  --Button: #ff8ba7;
  --Headline: #33272a;
  --Button-Text: #33272a;
  --Paragraph: #594a4e;
  --Card-Background: #faeee7;
  --Background-white: #fffffe;
  --Card-tag-background: #ffc6c7;
  --Link: #ff8ba7;
}

p {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 500;
  color: var(--Paragraph);
}

hr {
  width: 100%;
  height: 0.1rem;
  background-color: rgb(197, 197, 197);
}

/***************************************************HEADER*******************************************/

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.site-logo {
  width: 3rem;
  height: 3rem;
  background: no-repeat url(./../images/logo.svg.svg);
  fill: black;
}

header {
  --text: black;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--Paragraph);
  font-weight: 500;
}

.header__wraper {
  padding: 2rem 1rem 2rem 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header.sticky {
  background: white;
  opacity: 1;
  box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.2);
  color: var(--Paragraph);
}

.header__btn-menu {
  filter: brightness(0);
  display: none;
}

.main-nav {
  margin-right: 3rem;
}

.main-nav-close {
  display: none;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 600;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.9rem;
}

.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 0.125rem;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.2);
}

.nav__list-item {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  left: -3rem;
  opacity: 0.8;
  width: 15rem;
  gap: 0.5rem;
  z-index: 1;
  box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.nav__list-item:hover .dropdown-menu {
  display: flex;
  flex-flow: column nowrap;
}

/***************************************************dropdown-menu Brands*******************************************/

.dropdown-menu-brands {
  display: none;
  position: absolute;
  left: -10rem;
  background-color: white;
  opacity: 0.8;
  width: 30rem;
  gap: 0.5rem;
  z-index: 1;
  box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.2);
}

.dropdown-menu-brands a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.dropdown-menu-brands a:hover {
  background-color: #ddd;
}

.nav__list-item:hover .dropdown-menu-brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/***************************************************dropdown-menu blogs*******************************************/

.dropdown-menu-blogs {
  display: none;
  position: absolute;
  left: -22rem;
  background-color: white;
  opacity: 0.8;
  width: 30rem;
  gap: 0.5rem;
  z-index: 1;
  box-shadow: 0 0.1875rem 1.25rem rgba(0, 0, 0, 0.2);
}

.dropdown-menu-blogs a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.dropdown-menu-blogs a:hover {
  background-color: #ddd;
}

.nav__list-item:hover .dropdown-menu-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/***************************************************IMAGES*******************************************/

.img-class {
  width: 60rem;
}

/***************************************************MAIN*******************************************/

.portada-heading {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  background-image: url(./../images/nipple/prueba.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
  color: white;
}

.portada-heading-h1 {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  font-weight: 600;
  color: white;
  text-shadow: 0.1875rem 0rem 0.4375rem rgba(81, 21, 63, 0.8),
    -0.1875rem 0rem 0.4375rem rgba(81, 67, 21, 0.8),
    0rem 0.25rem 0.4375rem rgba(81, 67, 21, 0.8);

  line-height: 4rem;
}

.home-intro {
  padding: 50vh 0;
  background: url(./../images/portada_flip.webp);
  opacity: 0.7;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--Headline);
  text-align: center;
}

.home-intro-h1 {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: #333;
}

.home-intro-h2 {
  margin-top: 2rem;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.5rem;
  color: rgb(51, 51, 51);
}

.home-about {
  padding: 4em 0;
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.home-about-h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--Headline);
  padding-left: 2rem;
  padding-right: 2rem;
}

.columns {
  display: flex;
}

.col + .col {
  margin-left: 1.5em;
}

.home-about-h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin-top: 2rem;
  line-height: 2.5rem;
}

/************************************************** TYPES ******************************************************/
.home-about-container-accesories {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.home-about-container {
  display: flex;
  flex-flow: row wrap;
  gap: 6rem;
}

.home-about-container2 {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.home-about-images-wrapper {
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: 50%;
  width: 20rem;
  height: 15rem;
  border: 0.05rem solid var(--Headline);
}

.home-about-images-wrapper2 {
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  border: 0.05rem solid var(--Headline);
}

.home-about-images-wrapper a img {
  width: 30rem;
}

.home-about-images-wrapper2 a img {
  width: 20rem;
}

.home-about-image-title {
  position: absolute;
  bottom: 9rem;

  font-size: 1.7rem;
  font-weight: 600;
  left: 20%;
  color: rgb(255, 255, 255);
  text-shadow: 0.1875rem 0rem 0.4375rem rgba(81, 21, 63, 0.8),
    -0.1875rem 0rem 0.4375rem rgba(81, 67, 21, 0.8),
    0rem 0.25rem 0.4375rem rgba(81, 67, 21, 0.8);
}

.home-about-image-title2 {
  position: absolute;
  bottom: 6rem;
  line-height: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  left: 20%;
  color: rgb(255, 255, 255);
  text-shadow: 0.1875rem 0rem 0.4375rem rgba(81, 21, 63, 0.8),
    -0.1875rem 0rem 0.4375rem rgba(81, 67, 21, 0.8),
    0rem 0.25rem 0.4375rem rgba(81, 67, 21, 0.8);
}

.home-about-images-link {
}

.home-about-image {
  z-index: -1;
  position: relative;
  display: block;
  height: 20rem;
  width: 20rem;
}

.home-about-images-wrapper:hover {
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
}

.home-about-images-wrapper2:hover {
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
  transform: scale(1.15);
}

/************************************************** BRANDS ******************************************************/

.brands-about {
  padding: 4em 0;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.brand-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: 2rem;
}

.brand-container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  gap: 2rem;
}

.brand-wrapper {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  box-shadow: 0px 0px 11px #ccc;
  width: 15rem;
  height: 10rem;

  border-radius: 1rem;
  transition: all 0.5s ease;
}

.brand-wrapper:hover {
  transform: scale(1.15);
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.brand-element {
}

.brand-element-image {
  max-width: 15rem;
  max-height: 6rem;
  aspect-ratio: auto 390/200;
}

.brand-element-title {
  color: black;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.brand-element-title:hover {
  color: #2e051f;
}

.related-wrapper {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  box-shadow: 0px 0px 11px #ccc;
  width: 18rem;
  height: 12rem;

  border-radius: 1rem;
  transition: all 0.5s ease;
}

.related-element-image {
  width: 18rem;
  height: 9rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  aspect-ratio: auto 390/200;
}

.related-element-title {
  color: black;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.related-element-title:hover {
  color: var(--Button);
}

.related-wrapper:hover {
  transform: scale(1.1);
  -webkit-filter: brightness(105%);
  filter: brightness(105%);
}

/************************************* ACCESORIES *******************************************************/
.home-about-accesories-container-wraper {
  background-color: var(--Background);
  padding: 2rem;
}

.home-about-accesories-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.home-about-accesories-container-reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.home-about-accesories {
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  justify-content: left;
  gap: 1rem;
}

.home-about-accesories-title {
  display: flex;
  flex-direction: column nowrap;
  align-items: center;
  justify-content: center;

  width: 20rem;
}

.home-about-accesories-name {
  padding: 2rem 1rem 0rem 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.5rem;
}

.home-about-accesories-image {
  width: 15rem;
  transition: all 0.5s ease;
}

.home-about-accesories-image:hover {
  transform: scale(1.1);
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  cursor: pointer;
}

/************************************* Accesories *******************************************************/

.accesories {
  gap: 0.5rem;
}

/************************************* CATALOG *******************************************************/

.catalog-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;

  gap: 5rem;
}

.catalog-images-wrapper {
  display: flex;
  flex-flow: column nowrap;
  transition: all 1s ease;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}

.catalog-image-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.catalog-image {
  position: relative;
  display: block;
  height: 25rem;
  width: 18rem;
  border-radius: 1rem;
}

.catalog-images-wrapper :hover {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
  transform: scale(1.01);
}

.catalog-image-title:hover {
  cursor: pointer;
  color: #c71585;
}

/************************** FOOTER *****************************************/

.footer {
  height: 20vh;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  flex-flow: column nowrap;
  gap: 3rem;
}

.footer_container {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

.footer_container p {
  width: 10rem;
}

.footer_container p:hover {
  font-weight: 900;
  cursor: pointer;
}

.home-about p {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 46rem) {
  header {
    padding: 0em 0em;
  }

  .header__wraper {
    position: relative;
    padding: 0.5rem;
  }

  .main-nav {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 0%;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    box-shadow: rgba(93, 50, 77, 0.25) 0rem 0.8125rem 1.6875rem -0.3125rem,
      rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;

    transition: all 0.5s ease;

    display: flex;
    flex-flow: column nowrap;
  }

  .main-nav.activo {
    left: 0%;
    width: 100%;
    z-index: 9;
    opacity: 0.95;
  }

  .header__btn-menu {
    display: block;
  }

  .main-nav-close,
  .header__btn-menu:hover {
    cursor: pointer;
  }

  .nav__list {
    padding: 3rem 1rem;
    display: flex;
    flex-flow: column nowrap;
  }

  .main-nav-close {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;

    width: 1.2rem;
  }

  .home-intro {
    padding: 35vh 0;
  }

  .home-intro-h1 {
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #333;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;

    width: 25rem;
    box-shadow: none;

    z-index: 0;
  }

  .dropdown-menu a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
  }

  .dropdown-menu a:hover {
    background-color: none;
  }

  .nav__link {
    font-weight: 900;
  }

  .dropdown-menu a {
    color: black;
    padding: 0.25rem 4rem;
    text-decoration: none;
    font-weight: 300;
  }

  .dropdown-menu-brands {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    left: 0rem;

    width: 15rem;
    box-shadow: none;

    z-index: 0;
  }

  .nav__list-item:hover .dropdown-menu-brands {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu-brands a {
    color: black;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-weight: 300;
  }

  .dropdown-menu-blogs {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0rem;
    background-color: white;

    width: 15rem;

    z-index: 0;
    box-shadow: none;
  }

  .dropdown-menu-blogs a {
    color: black;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-weight: 300;
  }
  .nav__list-item:hover .dropdown-menu-blogs {
    display: flex;
    flex-direction: column;
  }

  /************************************************** MAIN ******************************************************/

  main {
    text-align: center;
  }

  .home-about {
    padding: 2.5rem 0;
    align-items: center;
  }

  .home-about-h2 {
    line-height: 3rem;
  }

  /************************************************** TYPES ******************************************************/

  .home-about-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 15rem;
  }

  .home-about-container2 {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 15rem;
    gap: 3rem;
  }

  .home-about-image {
    height: 15rem;
  }

  .home-about-images-wrapper2 {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
  }

  .home-about-images-wrapper:hover {
    transform: scale(1);
    -webkit-filter: brightness(55%);
    filter: brightness(55%);
  }

  /************************************* ACCESORIES *******************************************************/

  .home-about-accesories-container-wraper {
    padding: 0rem;
  }

  .home-about-accesories-container {
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .home-about-accesories-container-reverse {
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .home-about-accesories-title {
    display: flex;
    flex-direction: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  /************************************* CATALOG *******************************************************/

  .catalog-container {
    flex-flow: column wrap;
  }

  /************************************ BRAND *********************************************************/

  .brand-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

    gap: 2rem;
  }

  .brand-container2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    gap: 3rem;
  }

  .brand-wrapper {
    width: 9rem;
    height: 7rem;
  }

  .brand-element-image {
    max-width: 9rem;
    max-height: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    aspect-ratio: auto 390/200;
  }

  .brand-element-title {
    font-size: 0.8rem;
  }

  /************************************ FOOTER *********************************************************/

  .footer_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0.1rem;
    text-align: center;
  }

  .footer_container p {
    width: 5rem;
    font-size: 0.6rem;
  }

  .footer {
    gap: 1rem;
  }

  .header__btn-menu {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  /************************************ FONT *********************************************************/

  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portada-heading {
    height: 60vh;
  }

  .portada-heading-h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 60rem) and (min-width: 46rem) {
  .main-nav {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 0%;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    box-shadow: rgba(93, 50, 77, 0.25) 0rem 0.8125rem 1.6875rem -0.3125rem,
      rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;

    transition: all 0.5s ease;

    display: flex;
    flex-flow: column nowrap;
  }

  .main-nav.activo {
    left: 0%;
    width: 100%;
    z-index: 9;
    opacity: 0.95;
  }

  .header__btn-menu {
    display: block;
  }

  .main-nav-close,
  .header__btn-menu:hover {
    cursor: pointer;
  }

  .nav__list {
    padding: 3rem 1rem;
    display: flex;
    flex-flow: column nowrap;
  }

  .main-nav-close {
    display: flex;
    margin-left: auto;
    margin-right: 2.5rem;
    margin-top: 2.5rem;

    width: 1.2rem;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;

    width: 25rem;
    box-shadow: none;

    z-index: 0;
  }

  .dropdown-menu a:hover {
    background-color: none;
  }

  .nav__link {
    font-weight: 900;
  }

  .dropdown-menu a {
    color: black;
    padding: 0.25rem 4rem;
    text-decoration: none;
    font-weight: 300;
  }

  .dropdown-menu-brands {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    left: 0rem;

    width: 15rem;
    box-shadow: none;

    z-index: 0;
  }

  .nav__list-item:hover .dropdown-menu-brands {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu-brands a {
    color: black;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-weight: 300;
  }

  .dropdown-menu-blogs {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0rem;
    background-color: white;

    width: 15rem;

    z-index: 0;
    box-shadow: none;
  }

  .dropdown-menu-blogs a {
    color: black;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font-weight: 300;
  }
  .nav__list-item:hover .dropdown-menu-blogs {
    display: flex;
    flex-direction: column;
  }

  .header__btn-menu {
    margin-left: auto;
    margin-right: 2rem;
  }
}
