@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-Medium.woff2") format("woff2"),
    url("./../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-Black.woff2") format("woff2"),
    url("./../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-Light.woff2") format("woff2"),
    url("./../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --pink: #e84393;
}

* {
  transition: 0.2s linear;
}

.main-shop {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.main-shop-portada {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-flow: column nowrap;
  max-width: 90rem;
  justify-content: center;
  align-items: center;
}

.products-heading {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  background-image: url(./../images/nipple/prueba.webp);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
  color: white;
}

.products-heading h1 {
  color: white;
  text-shadow: 0.1875rem 0rem 0.4375rem rgba(81, 21, 63, 0.8),
    -0.1875rem 0rem 0.4375rem rgba(81, 67, 21, 0.8),
    0rem 0.25rem 0.4375rem rgba(81, 67, 21, 0.8);
}

.products-heading-2 h1 {
  color: white;
  text-shadow: 0.1875rem 0rem 0.4375rem rgba(81, 21, 63, 0.8),
    -0.1875rem 0rem 0.4375rem rgba(81, 67, 21, 0.8),
    0rem 0.25rem 0.4375rem rgba(81, 67, 21, 0.8);
}

.products-header-image {
  width: 70rem;
  height: 30rem;
}

.products-heading p {
  display: flex;
  flex-flow: column nowrap;
  width: 85rem;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}
.margin-h2 {
  margin-top: -2rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  font-weight: 600;
}

.heading-blog {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  font-weight: 600;
  margin-top: 10rem;
  line-height: 5rem;
}

.heading-h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 1rem 0;
  margin: 1rem 0;
  max-width: 85rem;
  font-weight: 600;
  line-height: 3rem;
}

.heading span {
  color: var(--pink);
}

.heading-h2 span {
  color: var(--pink);
}

.products .box-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: center;
}

.products .box-container .box {
  max-width: 20rem;

  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.products .box-container .box .discount {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  color: var(--Paragraph);
  background: var(--Card-tag-background);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image-shop {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .box-container .box .image-shop img {
  /*height: 13rem;*/
  width: auto;
}

.products .box-container .box:hover .image-shop img {
  transform: scale(1.2);
}

.products .box-container .box:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.products .box-container .box .image-shop .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image-shop .icons {
  bottom: 0;
}

.products .box-container .box .image-shop .icons a {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  width: 50%;
  background: var(--Link);
  color: #fff;
  font-weight: 600;
}

.products .box-container .box .image-shop .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
}

.products .box-container .box .image-shop .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 0.9rem;
  text-align: left;
  color: var(--Paragraph);
  font-weight: 600;
}

.products .box-container .box .content h3:hover {
  color: var(--pink);
}

.products .box-container .box .content .price {
  font-size: 1.5rem;
  color: var(--Paragraph);
  font-weight: bolder;
  padding-top: 1rem;
  text-align: left;
}

.products .box-container .box .content .price span {
  font-size: 0.75rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.home-about-shop {
  padding: 4em 0;
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.home-about-shop p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.external-link {
  text-decoration: underline;
  color: var(--pink);
  font-weight: 600;
}

.products p {
  padding-left: 2rem;
  padding-right: 2rem;
}

/****************************PORTADAS HEADING ************************************/

.products-heading-2 {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  background-image: url(./../images/nipple/portada1.webp);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
  color: white;
}

/********************************LOGOS***********************************************/

.logo-accmor {
  height: 15.5rem;
  width: 65rem;
}

.logo-boon {
  height: 15.5rem;
  width: 30rem;
}

.logo-chicco {
  height: 16.5rem;
  width: 30rem;
}

.logo-itzy {
  height: 16.5rem;
  width: 70rem;
}

.logo-laneyli {
  height: 16.5rem;
  width: 50rem;
}

.logo-natur {
  height: 21rem;
  width: 70rem;
}

.logo-nuby {
  height: 18.5rem;
  width: 50rem;
}

.logo-papablic {
  height: 10rem;
  width: 40rem;
}

/********************************TABLE***********************************************/

.home-table {
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.home-table-h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--Headline);
}

.shop-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 0.0625rem solid rgb(170, 170, 170);
  padding: 0.5rem;
  text-align: center;
  width: 25%;
  vertical-align: middle;
}

.tr-image {
}

.td-image {
}

th {
}

.shop-table img {
  max-width: 100%;
  height: auto;
}

/********************************LIST***********************************************/
.shop-list {
  display: none;
}

.shop-list-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid rgb(170, 170, 170);
  margin-bottom: 2rem;
}

.shop-list li {
  width: 20rem;
  padding: 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-name {
  font-weight: 600;
}

.list-reviews {
  font-weight: 600;
  background-color: var(--Background);
  color: #f90;
}

.list-advantages li {
  display: flex;
  flex-direction: row;
  color: black;
  gap: 0.5rem;
}

.list-advantages {
  font-weight: 600;
  color: green;
}

.list-drawbacks li {
  display: flex;
  flex-direction: row;
  color: black;
  gap: 0.5rem;
}

.list-drawbacks {
  font-weight: 600;
  background-color: var(--Background);
  color: red;
}

.amazon-button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  color: #fff;
  background-color: #f90;
  border-radius: 0.25rem;
  text-decoration: none;
}

.check-icon {
  font-size: 1.5rem;
  color: green;
}

.cross-icon {
  font-size: 1.5rem;
  color: red;
}

.shop-list img {
  height: 15rem;
  width: 20rem;
}

@media screen and (max-width: 46rem) {
  .products-heading {
    background-image: url(./../images/nipple/prueba.webp);
    background-size: 100% 60vh;
    height: 60vh;
  }

  .products-heading-2 {
    background-size: 100% 45vh;
    height: 45vh;
  }
  .products {
    margin-top: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .heading {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
    font-weight: 900;
    line-height: 2rem;
  }

  .products .box-container {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    gap: 0.5rem;
    justify-items: center;
  }

  .products .box-container .box {
    align-items: center;

    width: 10.5rem;
    height: 27rem;
  }

  .products .box-container .box .image-shop img {
    height: 10rem;
    width: 15rem;
  }

  .products .box-container .box .image-shop .icons {
    bottom: 0rem;
  }

  .products .box-container .box .content {
    padding: 0.1rem;
    text-align: center;
    height: 8.5rem;
  }

  .products .box-container .box .image-shop .icons .cart-btn {
    font-size: 0.7rem;
    width: 180%;
  }

  .products .box-container .box .image-shop {
    padding-bottom: 2rem;
  }

  .heading-h2 {
    padding: 0rem 0;
    margin: 0rem 0;
  }

  /********************************LOGOS***********************************************/

  .logo-accmor {
    height: 4.5rem;
    width: 20rem;
  }

  .logo-boon {
    height: 8.5rem;
    width: 20rem;
  }

  .logo-chicco {
    height: 11rem;
    width: 20rem;
  }

  .logo-itzy {
    height: 4.5rem;
    width: 20rem;
  }

  .logo-laneyli {
    height: 6.5rem;
    width: 20rem;
  }

  .logo-natur {
    height: 6rem;
    width: 20rem;
  }

  .logo-nuby {
    height: 7.5rem;
    width: 20rem;
  }

  .logo-papablic {
    height: 5rem;
    width: 20rem;
  }

  .shop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shop-table {
    display: none;
  }
}
