:root {
  --pink: #e84393;
}

* {
  transition: 0.2s linear;
}

.main-shop {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.products {
  display: flex;
  flex-flow: column nowrap;
  width: 60rem;
  justify-content: center;
  align-items: center;
}

.products-heading {
  margin-top: 6rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffdbe1;
}

.products-heading p {
  display: flex;
  flex-flow: column nowrap;
  width: 60rem;
  justify-content: center;
  align-items: center;
}
.margin-h2 {
  margin-top: -2rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  font-weight: 600;
}

.heading-h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
  background: rgba(255, 51, 153, 0.05);
  width: 60rem;
  font-weight: 600;
}

.heading span {
  color: var(--pink);
}

.heading-h2 span {
  color: var(--pink);
}

.products .box-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 15rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.products .box-container .box .discount {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  color: var(--pink);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image-shop {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .box-container .box .image-shop img {
  height: 11.5rem;
  width: 11.5rem;
}

.products .box-container .box:hover .image-shop img {
  transform: scale(1.2);
}

.products .box-container .box .image-shop .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image-shop .icons {
  bottom: 0;
}

.products .box-container .box .image-shop .icons a {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
  font-weight: 600;
}

.products .box-container .box .image-shop .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
}

.products .box-container .box .image-shop .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 900;
}

.products .box-container .box .content .price {
  font-size: 1.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 0.75rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

@media screen and (max-width: 46rem) {
  .products {
    margin-top: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .heading {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
    font-weight: 900;
    line-height: 2rem;
  }

  .products .box-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
  }

  .products .box-container .box {
    width: 90%;
    align-items: center;
  }

  .products .box-container .box .image-shop img {
    height: 15rem;
    width: 20rem;
  }

  .products .box-container .box .image-shop .icons {
    bottom: 0rem;
  }
}
